# Copy to .env and adjust for your machine
LOCAL_DB_HOST=localhost
LOCAL_DB_NAME=ivan_jwt_auth
LOCAL_DB_USER=root
LOCAL_DB_PASS=
LOCAL_DB_CHARSET=utf8mb4
LOCAL_DB_COLLATION=utf8mb4_unicode_ci
LOCAL_DB_PORT=3306
