RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^login$ index.php?page=login [QSA,L]
RewriteRule ^register$ index.php?page=register [QSA,L]
RewriteRule ^show$ index.php?page=show [QSA,L]

RewriteRule ^ index.php [QSA,L]